<html>
<title>Yuriy Arhipov</title>

<body>
    <p>
        I'm Yura Arhipov, a software developer for more than ten years. This page on the Internet is about my projects.
        Like many devs, I have lots of thoughts and usually have no time to implement them. So here is a contract. The
        list below is a list of projects that keep my mind right now.

    </p>

    <p>Projects:</p>
    <ul>
        <li>
            blog (my notes to tell the truth)
        </li>
        <li>
            https://orel.dev - local website
        </li>
    </ul>

</html>
